name: build

on: [pull_request, workflow_call, workflow_dispatch]

env:
  MAVEN_OPTS: -Xmx8192m
  JAVA_TOOL_OPTIONS: -Djdk.util.zip.disableZip64ExtraFieldValidation=true

jobs:
  build:
    runs-on: "ubuntu-latest"
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: 'true'
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '17'
          java-package: 'jdk+fx'
          cache: maven
      - name: Build maven-osgi-bundles
        working-directory: ./cs-studio
        run: mvn verify -U -f maven-osgi-bundles/pom.xml -D"cs-studio=false" -D"eclipse=false" -D"tycho.localArtifacts=ignore" -D"maven.repo.local=../.m2/repository"
      - name: Build cs-studio
        working-directory: ./cs-studio
        run: mvn verify -U -D"cs-studio=false" -D"eclipse=false" -D"tycho.localArtifacts=ignore" -D"csstudio.composite.repo=p2repo" -D"skipTests=true" -D"maven.repo.local=../.m2/repository"
      - name: Upload products
        uses: actions/upload-artifact@v5
        with:
          name: cs-studio-products
          path: |
            cs-studio/product/repository/target/products/*.zip       
          compression-level: 0
          if-no-files-found: error
          retention-days: 3
      - name: Upload p2 repo
        uses: actions/upload-artifact@v5
        with:
          name: cs-studio-p2
          path: |
            cs-studio
            !cs-studio/product/repository/target/products/**
            !cs-studio/build
            !cs-studio/workspace            
          compression-level: 0
          if-no-files-found: error
          retention-days: 3
