name: build

on: [pull_request, workflow_call, workflow_dispatch]

env:
  MAVEN_OPTS: -Xmx8192m
  JAVA_TOOL_OPTIONS: -Djdk.util.zip.disableZip64ExtraFieldValidation=true

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'true'
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '17'
          java-package: 'jdk+fx'
          cache: maven
      - name: Build maven-osgi-bundles
        working-directory: ./cs-studio
        run: mvn verify -f maven-osgi-bundles/pom.xml -Dcs-studio=false -Declipse=false -Dtycho.localArtifacts=ignore -Dmaven.repo.local=../.m2/repository
      - name: Build cs-studio
        working-directory: ./cs-studio
        run: mvn verify -Dcs-studio=false -Declipse=false -Dtycho.localArtifacts=ignore -Dcsstudio.composite.repo=p2repo -DskipTests=true -Dmaven.repo.local=../.m2/repository
      - name: Upload products
        uses: actions/upload-artifact@v7
        with:
          name: cs-studio-products
          path: |
            cs-studio/product/repository/target/products/*.zip
          compression-level: 0
          if-no-files-found: error
          retention-days: 3
      - name: Upload p2 repo
        uses: actions/upload-artifact@v7
        with:
          name: cs-studio-p2
          path: |
            cs-studio
            !cs-studio/product/repository/target/products/**
            !cs-studio/build
            !cs-studio/workspace
          compression-level: 0
          if-no-files-found: error
          retention-days: 3
