name: release
on: push
jobs:
  build:
    if: github.ref_type == 'tag'
    uses: ./.github/workflows/build.yml
  release:
    if: github.ref_type == 'tag'
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v7
      with:
        name: cs-studio-p2
        path: cs-studio-p2/
    - uses: actions/download-artifact@v7
      with:
        name: cs-studio-products
        path: cs-studio-products/
    - name: Create GitHub Release
      env:
        GITHUB_TOKEN: ${{ github.token }}
      run: >-
        gh release create
        '${{ github.ref_name }}'
        --repo '${{ github.repository }}'
        --notes ""
    - name: Zip release
      run: >-
        zip -r cs-studio-p2.zip cs-studio-p2
    - name: Upload p2 to GitHub Release
      env:
        GITHUB_TOKEN: ${{ github.token }}
      run: >-
        gh release upload
        '${{ github.ref_name }}' cs-studio-p2.zip
        --repo '${{ github.repository }}'
    - name: Upload products to GitHub Release
      env:
        GITHUB_TOKEN: ${{ github.token }}
      run: >-
        gh release upload
        '${{ github.ref_name }}' cs-studio-products/*.zip
        --repo '${{ github.repository }}'
